.intro {
  max-width: 830px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin-top: 90px;
}

.intro__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
}

.intro__author {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  text-align: right;
  margin-top: 10px;
}

.intro__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin: 0 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    margin-top: 64px;
    margin-bottom: 30px;
  }
}