.photo-grid {
  max-width: 1184px;
  margin: 0 auto 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__item {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    margin: 0 24px 88px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 543px) {
  .photo-grid {
    margin: 0 16px 64px;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}