.places {
  display: grid;
  gap: 80px;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .places {
    gap: 72px;
    max-width: 720px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    gap: 48px;
    padding: 0 16px;
  }
}